* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #070c24;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body::-webkit-scrollbar {
  width: 4px;
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin: 40px auto 10px;
  letter-spacing: 1.2px;
  text-align: center;
  color: white;
}

first-card {
  --card-color: #5a6cb2;
  --text-color: white;
}
